*
!.gitignore
!*.Rnw
!*.bib
!preamble.tex
!preamble_knitr.tex
!README.md
!asa_edition.bst
!img/
!img/Chapter_1/
!img/Chapter_2/
!img/Chapter_3/
!img/Chapter_4/
!img/Chapter_5/
!img/Chapter_6/
!data/
!*.rda
!*.dat
!*.txt
!*.png
!*.pdf